    .trailler {
        height: 100%;
        padding: 5.6vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        color: #fff;
        
                   .button {
                    width: 100px
                   }
            
    }
